apiVersion: apps/v1 
kind: Deployment
metadata:
  name: my-frontend
  labels:
    app: frontend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: fijispawn/agro-test:latest
          ports:
            - containerPort: 80

